*{
    padding: 0;
    margin: 0;  
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
/*Body Styling*/
body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/*Navigation Bar*/
nav{
    padding: 30px;
    display: flex;
    font-size: 20px;
    height: 8%;
    width: 85%;
    align-items: center;
    gap: 10%;
}
nav a{
    height: 100%;
}
nav img{
    height: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    color: #F95700;
    font-weight: bold;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #F95700;
}
nav ul li{
    cursor: pointer;
}
nav ul li:hover{
    color: #c14502;
}
section{
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
/*Hero Section*/
.hero{
    margin: auto;
    border-radius: 50px;
    background-color: #F95700;
    height: 100%;
    width: 95%;
    display: flex;
}
.hero .left{
    display: grid;
    padding: 4vw;
    color: white;
}
.hero .left h1{
    font-size: 4.5vw;
    text-decoration-line: underline;
}
.hero .left button{
    justify-self: center;
    padding: 1vw;
    width: 80%;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 1.1vw;
    cursor: pointer;
}
.hero .left button:hover{
    background-color: rgb(237, 237, 237);
}
.hero .left p{
    font-size: 1.2vw;
}
.hero .right{
    padding-right: 30px;
    height: 100%;
    width: 50%;
}
.hero .right img{
    height: 100%;
}
hr{
    border: 0.3vh solid #c14502;
}
/*Adoption List*/
.adoption{
    display: grid;
    gap: 2vh;
}
.title{
    font-size: 2vw;
    display: flex;
    width: 95vw;
    margin: auto;
    color: #F95700;
    justify-content: center;
}
.adoption-list{
    height: 65vh;
    width: 95vw;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 3vh;
    margin: auto;
}
/*Adoption Card*/
.adoption-card{
    justify-self: center;
    background-color: #F95700;
    border-radius: 20px;
    width: 35vw;
    display: flex;
    padding: 20px;
    color: #c14502;
    gap: 1vw;
    height: 28vh;
    cursor: pointer;
    text-decoration: none;
}
.adoption-card .img{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;    
    height: 90%;
}
.adoption-card .img img{
    border-radius: 10px;
    height: 100%;
}
.adoption-card .details{
    height: 90%;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    text-overflow: ellipsis;
}
.adoption-card h2{
    font-size: 1.5vw;
}
.adoption-card p{
    font-size: 1.1vw;
}
.adoption-card .description{
    height: calc(50%);
    overflow: hidden;
}
.adoption-card .description p{
    font-size: 0.9vw;
}
/*Footer*/
footer{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer .logo{
    padding: 0px 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}
footer .logo img{
    height: 10vh;
}