*{
    padding: 0;
    margin: 0;  
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    margin: 10px;
    background-color: #F95700;
    border-radius: 100px;
    width: 100%;
    height: 25%;
}
nav img{
    width: 100%;
}